# Q1

Write a program to fetch the item only within range between 50 to 70

lst = [34,67,55,33,12,98]

In [1]:
lst= [34,67,55,33,12,98]
result = []
for i in lst:
    if 50 < i < 70:
        result.append(i)
result

[67, 55]

# Q2

Write a program to print only String data type value from the given List

lst = ['abc', 100, 10.10, True, 'Babu']

In [3]:
lst = ['abc', 100, 10.10, True, 'Babu']

for i in lst:
    if(type(i)==str):
        print(i)

abc
Babu

# Q3

Write a program to replace only String values as none.

lst = ['abc', 100, 10.10, True, 'Babu'] -------> [None, 100, 10.10, True, None]

In [4]:
ls = ['abc', 100, 10.10, True, 'Babu']
lst1 = []
for i in lst:
    if type(i) == type('str'):
        lst1.append(None)
    else:
        lst1.append(i)
print(lst1)

[None, 100, 10.1, True, None]

# Q4

Write a program which accepts a sequence of comma-separated numbers from console and generate a list    and a tuple which contains every number.
	
	input  : 34,67,55,33,12,98
	output : ['34', '67', '55', '33', '12', '98']
		 ('34', '67', '55', '33', '12', '98')

In [5]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 34,67,55,33,12,98
List :  ['34', '67', '55', '33', '12', '98']
Tuple :  ('34', '67', '55', '33', '12', '98')

# Q5

 With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line    and the last half values in one line.

	input  : (1,2,3,4,5,6,7,8,9,10)
	output : (1,2,3,4,5)
		 (6,7,8,9,10)

In [6]:
tp=(1,2,3,4,5,6,7,8,9,10)

tp1=tp[:5]

tp2=tp[5:]

print(tp1)

print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Q6

Write a program to generate and print another tuple whose values are even numbers in the given tuple 

	input  : (1,2,3,4,5,6,7,8,9,10)
	output : (2, 4, 6, 8, 10)

In [1]:
tpl=(1,2,3,4,5,6,7,8,9,10)
lst=list()
for i in tpl:
    if (tpl[i-1])%2 == 0:
        lst.append(tpl[i-1])
tpl1=tuple(lst)
print(tpl1)

(2, 4, 6, 8, 10)